<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>RTO Website</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
          <style type="text/css">
             .btn btn-lg btn-primary btn-block{width: 10px;}
          
      </style>

 
 
</head>

    
<body>
    <!--{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}-->
    <div class="container">
        <div class="header">
            
           <!-- <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>-->
            <h3 class="text-muted">RTO Bangalore</h3>
                
        </div>
    </div>
    <!--<center><img src="../static/images/rtoimage.jpg" align="middle" height="300" width="300" /></center>
    -->
        <div class="jumbotron">
            
            <form class="form-signin">
                
                <a id="signIn" class="btn btn-primary" href="showSignIn" type="button"  >SIGN IN</a>
                <a id="signUp" class="btn btn-primary" href="showSignUp" type="button">REGISTER USER</a>      
            </form>
        </div>

 
       <div class="row marketing">
            <div class="col-lg-6">
                <h4>    RTO </h4>
                <p>     For license registration and vehicle registration Register using the above option REGISTER USER </p>
 
                <h4>    ADMIN login</h4>
                <p>     For STAFF ONLY. Login using office provided username and password </p>
 
            </div>
 
            <div class="col-lg-6">
                <h4>RTO </h4>
                <p>For license registration and vehicle registration Register using the above option REGISTER USER </p>
 
                <h4>ADMIN login</h4>
                <p>For STAFF ONLY. Login using office provided username and password </p>
            </div>
        </div>
 
       <footer class="footer">
            <p>&copy; RVCE 2017</p>
        </footer>
 
</body>
 
</html>
